<!-- A header which reads please enter your name -->

<head>
    <title> Please enter your name </title>
</head>

<!-- Two text boxes with labels first name and last name-->
<body>
    <form action="Registration" method="post">
        <p><tr>
            <td> First Name </td>
            <td><input type="text" name="first_name"/></td>
        </tr></p>
        <td><label>Gender:</label></td>
        <td>
            <input id="radio_male" type="radio" /><span>Male</span>
            <input id="radio_female" type="radio"/><span>Female</span>
            <input id="radio_other" type="radio"/><span>Other</span>
        </td>
        <p><tr>
            <td> Last Name </td>
            <td><input type="text" name="last_name"/></td>
        </tr></p>
<!-- A Label Gender -->
<!-- 3 Radio Buttons in a Row Male, Female, Other-->
<!-- A button with the text submit -->
    </table>
    <input type="SUBMIT" value="SUBMIT"/>
    </form>
</body>

<!-- After Submission HTML -->
<head>
    <title>Welcome to my Shop</title>
</head>

<body>
    <% String first_name = request.getParameter("first_name");
    String last_name = request.getParameter("last_name");
    %>

    Thank you 
    <!-- Somehow dynamically produce Mr. Ms. blank based on gender answer-->
    <%= first_name %> <%= last_name %>
</body>